In [14]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/modernpacifist/engineering-of-machine-learning-urfu/master/python-pro-level/Datasets/melb_data_fe.csv', sep=',')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  object
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: float64(8), int64(10), object(8)
memory usage: 2.7+ MB

In [ ]:
df.head(5)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,1,1,202.0,126.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,1,0,156.0,79.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,2,0,134.0,150.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,2,1,94.0,126.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,1,2,120.0,142.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969,4,2,2,St,0

In [ ]:
round(df[df['Weekend'] == 1]['Price'].mean())

1083292

In [ ]:
df[(df['SellerG'] == 'Nelson')]['Price'].min() / df[(df['SellerG'] == 'other')]['Price'].min()

1.297709923664122

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(10), object(7)
memory usage: 2.7+ MB

In [ ]:
def get_year_quarter(month_num):
    if 12 <= month_num and month_num <= 2:
        return 1
    if 3 <= month_num and month_num <= 5:
        return 2
    if 6 <= month_num and month_num <= 8:
        return 3
    if 9 <= month_num and month_num <= 11:
        return 4
    return None

In [ ]:
df['quarter'] = df['Date'].dt.quarter

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
 26  quarter          13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(11), object(7)
memory usage: 2.8+ MB

In [ ]:
df.head(1)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,quarter
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,1,1,202.0,126.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.2,-0.231707,3,46,5,St,1,1

In [ ]:
df['quarter'].value_counts()

3    4873
2    4359
4    2329
1    2019
Name: quarter, dtype: int64

In [ ]:
cols_to_exclude = ["Date", "Rooms", "Bedroom", "Bathroom", "Car", "quarter"]
max_unique_count = 150
for col in df.columns:
    if df[col].nunique() < max_unique_count and col not in cols_to_exclude:
        df[col] = df[col].astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
 26  quarter          13580 non-null  int64
dtypes: category(10), datetime64[ns](1), float64(8), int64(8)
memory usage: 1.9 MB

In [ ]:
df.sort_values(by='Price').head(10)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,quarter
2652,Footscray,1,unit,85000.0,PI,Burnham,2016-03-09,6.4,3011,1,1,0,0.0,126.0,Maribyrnong,-37.79110,144.89000,Western Metropolitan,7570,42.000000,1.000000,3,9,2,St,0,1
1805,other,4,house,131000.0,PI,other,2017-02-25,8.9,3162,4,1,2,499.0,155.0,Glen Eira,-37.88640,145.02420,Southern Metropolitan,2379,17.222222,-0.525994,2,97,5,St,1,1
7303,Albion,1,unit,145000.0,PI,Biggin,2016-05-28,13.9,3020,2,1,1,36.0,126.0,Brimbank,-37.78330,144.82660,Western Metropolitan,2185,31.500000,0.555556,5,46,5,St,1,2
1927,Coburg,4,house,145000.0,PI,Jellis,2016-04-06,7.8,3058,3,1,1,536.0,164.0,Moreland,-37.75550,144.96580,Northern Metropolitan,11204,20.500000,-0.531429,4,106,2,Rd,0,2
7940,Hawthorn,1,unit,160000.0,VB,HAR,2017-08-04,4.6,3122,1,1,0,322.0,126.0,Boroondara,-37.81980,145.03730,Southern Metropolitan,11308,42.000000,-0.437500,8,8,4,St,0,3
12666,Brunswick,1,unit,170000.0,VB,Nelson,2017-09-16,5.2,3056,1,1,0,1250.0,126.0,NaN,-37.77685,144.95188,Northern Metropolitan,11918,42.000000,-0.816860,9,47,5,St,1,3
8811,Footscray,1,unit,170000.0,PI,Burnham,2017-01-07,5.1,3011,1,1,0,30.0,26.0,Maribyrnong,-37.80141,144.89587,Western Metropolitan,7570,8.666667,-0.071429,1,4,5,St,1,1
8504,West Footscray,1,unit,185000.0,PI,Jas,2017-04-29,8.2,3012,1,1,1,0.0,126.0,Maribyrnong,-37.79800,144.86720,Western Metropolitan,5058,42.000000,1.000000,4,47,5,St,1,2
7293,Albion,1,unit,185000.0,S,hockingstuart,2016-08-22,13.9,3020,1,1,1,2347.0,43.0,Brimbank,-37.78520,144.82720,Western Metropolitan,2185,14.333333,-0.964017,8,41,0,Rd,0,3
7305,Albion,2,unit,190000.0,SP,Burnham,2016-07-30,13.9,3020,2,1,1,0.0,126.0,Brimbank,-37.78390,144.82390,Western Metropolitan,2185,25.200000,1.000000,7,46,5,St,1,3

In [ ]:
df.sort_values(by='Date', ascending=False).head(10)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,quarter
11144,Northcote,4,house,1955000.0,SP,McGrath,2017-12-08,5.3,3070,4,2,1,5.0,126.0,Darebin,-37.76280,144.99375,Northern Metropolitan,11364,12.600000,0.923664,12,47,4,St,0,4
11217,Surrey Hills,3,house,1775000.0,PI,Jellis,2017-12-08,10.2,3127,3,2,2,780.0,126.0,Boroondara,-37.81403,145.08968,Southern Metropolitan,5457,15.750000,-0.721854,12,47,4,Rd,0,4
11206,St Kilda,4,house,1600000.0,VB,Gary,2017-12-08,5.0,3182,4,2,3,613.0,160.0,Port Phillip,-37.86667,144.98324,Southern Metropolitan,13240,16.000000,-0.586028,12,107,4,St,0,4
11207,Strathmore,7,house,2000000.0,SP,Nelson,2017-12-08,8.2,3041,7,3,4,608.0,355.0,Moonee Valley,-37.73681,144.90587,Western Metropolitan,3284,20.882353,-0.262721,12,18,4,Rd,0,4
11208,Strathmore,4,house,1610000.0,S,other,2017-12-08,8.2,3041,4,3,2,861.0,274.0,Moonee Valley,-37.73154,144.92243,Western Metropolitan,3284,24.909091,-0.517181,12,62,4,St,0,4
11209,Strathmore,3,house,1742000.0,S,Barry,2017-12-08,8.2,3041,3,2,3,697.0,126.0,Moonee Valley,-37.74057,144.92172,Western Metropolitan,3284,15.750000,-0.693803,12,47,4,Rd,0,4
11210,Strathmore,3,house,1016000.0,S,other,2017-12-08,8.2,3041,3,2,1,304.0,126.0,Moonee Valley,-37.73456,144.91521,Western Metropolitan,3284,15.750000,-0.413953,12,47,4,St,0,4
11211,Sunshine,3,house,700000.0,SP,other,2017-12-08,10.5,3020,3,2,1,485.0,130.0,Brimbank,-37.78703,144.84569,Western Metropolitan,3755,16.250000,-0.577236,12,67,4,St,0,4
11212,Sunshine,2,house,615000.0,SP,Barry,2017-12-08,10.5,3020,2,1,0,418.0,94.0,Brimbank,-37.79595,144.83206,Western Metropolitan,3755,18.800000,-0.632812,12,77,4,St,0,4
11213,Sunshine West,3,house,650000.0,VB,hockingstuart,2017-12-08,10.5,3020,3,1,2,691.0,126.0,Brimbank,-37.78825,144.80099,Western Metropolitan,6763,18.000000,-0.691554,12,47,4,St,0,4

In [ ]:
df.sort_values(by=['Distance', 'Price']).loc[::10, ['Distance', 'Price']][:10]

       Distance      Price
11428       0.0   387000.0
10512       0.7   600000.0
5727        1.2   485000.0
8671        1.2   595000.0
5736        1.2   740000.0
9511        1.3  1350000.0
6866        1.5   872000.0
2102        1.6   366000.0
2103        1.6   461000.0
2545        1.6   660000.0

In [ ]:
mask1 = df['AreaRatio'] < -0.8
mask2 = df['Type'] == 'townhouse'
mask3 = df['SellerG'] == 'McGrath'
df[mask1 & mask2 & mask3].sort_values(
    by=['Date', 'AreaRatio'],
    ascending=[True, False],
    ignore_index=True
).loc[:, ['Date', 'AreaRatio']]

        Date  AreaRatio
0 2016-07-26  -0.974922
1 2016-09-24  -0.971831
2 2016-11-27  -0.953608
3 2016-12-11  -0.945946
4 2017-08-04  -0.947368
5 2017-08-04  -0.970874

In [ ]:
filtered = df[df['Rooms'] > 5].copy()
filtered.sort_values(inplace=True, by=['Rooms'])
filtered.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,quarter
47,Airport West,6,house,725000.0,SP,Barry,2016-07-05,13.5,3042,6,3,2,976.0,186.0,Moonee Valley,-37.72390,144.87350,Western Metropolitan,3464,12.4000,-0.679862,7,36,1,Rd,0,3
10043,other,6,house,1050000.0,S,other,2017-06-24,35.4,3198,6,4,2,662.0,373.0,Frankston,-38.10780,145.13050,South-Eastern Metropolitan,8077,23.3125,-0.279227,6,47,5,St,1,2
9803,Box Hill,6,house,2150500.0,PI,McGrath,2017-06-24,10.9,3128,6,3,3,786.0,126.0,Whitehorse,-37.82616,145.12748,Eastern Metropolitan,4605,8.4000,-0.723684,6,47,5,St,1,2
9591,other,6,house,935000.0,S,other,2017-06-17,18.0,3037,6,4,2,694.0,126.0,Melton,-37.68178,144.73779,Western Metropolitan,5556,7.8750,-0.692683,6,47,5,Dr,1,2
9582,Hawthorn East,6,house,2200000.0,VB,Jellis,2017-06-17,6.2,3123,6,3,3,622.0,126.0,Boroondara,-37.83510,145.05542,Southern Metropolitan,6482,8.4000,-0.663102,6,47,5,Rd,1,2

In [ ]:
df['Type'].value_counts()

house        9449
unit         3017
townhouse    1114
Name: Type, dtype: int64

In [ ]:
df.sort_values(
    by='AreaRatio',
    ascending=False,
    ignore_index=True,
).iloc[1558]

Suburb         Elsternwick
Rooms                    2
Type                 house
Price             716000.0
Method                   S
                  ...
AgeBuilding             47
WeekdaySale              0
StreetType              St
Weekend                  0
quarter                  1
Name: 1558, Length: 27, dtype: object

In [ ]:
mask1 = df['Type'] == 'townhouse'
mask2 = df['Rooms'] > 2

df[mask1 & mask2].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True,
).iloc[18]['Price']

1300000.0

In [ ]:
df.groupby('Type').mean()

,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude,Propertycount,MeanRoomsSquare,AreaRatio,AgeBuilding,quarter
Type,,,,,,,,,,,,,,,,
house,3.260874,1.242665e+06,10.979479,3104.080643,3.229336,1.613822,1.772674,617.181924,152.162553,-37.803795,144.994700,7259.025505,18.996731,-0.490031,55.669700,2.558895
townhouse,2.837522,9.337351e+05,9.851346,3100.777379,2.814183,1.809695,1.555655,279.606822,134.649710,-37.815782,144.996489,7094.459605,18.569847,-0.094916,26.690305,2.531418
unit,1.963871,6.051275e+05,7.607391,3110.797481,1.966523,1.183295,1.128936,477.314219,102.235863,-37.823710,144.996363,8199.280080,21.068242,0.319883,39.703016,2.543255

In [ ]:
df.groupby('Type')['Price'].mean()

Type
house        1.242665e+06
townhouse    9.337351e+05
unit         6.051275e+05
Name: Price, dtype: float64

In [ ]:
df.groupby('Regionname')['Distance'].min().sort_values(ascending=False)

Regionname
Western Victoria              29.8
Eastern Victoria              25.2
Northern Victoria             21.8
South-Eastern Metropolitan    14.7
Eastern Metropolitan           7.8
Western Metropolitan           4.3
Southern Metropolitan          0.7
Northern Metropolitan          0.0
Name: Distance, dtype: float64

In [ ]:
df.groupby('Regionname')['Distance'].max().sort_values(ascending=False)

Regionname
Northern Victoria             48.1
Eastern Victoria              47.3
South-Eastern Metropolitan    38.0
Western Victoria              37.5
Western Metropolitan          31.7
Eastern Metropolitan          27.0
Northern Metropolitan         25.9
Southern Metropolitan         17.9
Name: Distance, dtype: float64

In [ ]:
df.groupby('MonthSale')['Price'].agg(
    ['count', 'mean', 'max', 'median']
).sort_values(by='count', ascending=False)

           count          mean        max     median
MonthSale
8           1850  1.056371e+06  6500000.0   892000.0
7           1835  9.314698e+05  9000000.0   800000.0
5           1644  1.097807e+06  8000000.0   905000.0
6           1469  1.068981e+06  7650000.0   900000.0
3           1408  1.146762e+06  5600000.0   945000.0
...          ...           ...        ...        ...
10           854  1.135970e+06  6250000.0   950000.0
11           750  1.142503e+06  5050000.0   950000.0
12           725  1.144737e+06  5700000.0   938000.0
2            333  1.169051e+06  4735000.0  1020000.0
1            278  9.397921e+05  5200000.0   795000.0

[12 rows x 4 columns]

In [ ]:
df.groupby('MonthSale')['Price'].agg('describe').sort_values(by='count', ascending=False)

,count,mean,std,min,25%,50%,75%,max
MonthSale,,,,,,,,
8,1850.0,1.056371e+06,619617.476541,160000.0,635000.0,892000.0,1310000.0,6500000.0
7,1835.0,9.314698e+05,537390.803161,190000.0,586750.0,800000.0,1150000.0,9000000.0
5,1644.0,1.097807e+06,668492.867996,145000.0,650000.0,905000.0,1371250.0,8000000.0
6,1469.0,1.068981e+06,606010.069052,222000.0,660000.0,900000.0,1325000.0,7650000.0
3,1408.0,1.146762e+06,709573.596867,85000.0,680000.0,945000.0,1400000.0,5600000.0
...,...,...,...,...,...,...,...,...
10,854.0,1.135970e+06,692950.251627,250000.0,652625.0,950000.0,1416500.0,6250000.0
11,750.0,1.142503e+06,703666.227892,240000.0,671750.0,950000.0,1399125.0,5050000.0
12,725.0,1.144737e+06,706549.007161,250000.0,667500.0,938000.0,1412000.0,5700000.0
2,333.0,1.169051e+06,671564.357417,131000.0,710000.0,1020000.0,1478000.0,4735000.0
1,278.0,9.397921e+05,577668.924214,170000.0,570500.0,795000.0,1111250.0,5200000.0

In [ ]:
df.groupby('Regionname')['SellerG'].agg(
    		['nunique', set]
).sort_values(by='nunique', ascending=False)

,nunique,set
Regionname,,
Northern Metropolitan,40,"{Stockdale, McGrath, Sweeney, Miles, Cayzer, R..."
Southern Metropolitan,38,"{Gary, Stockdale, Chisholm, McGrath, Cayzer, W..."
Western Metropolitan,34,"{Stockdale, Chisholm, Moonee, McGrath, Sweeney..."
Eastern Metropolitan,26,"{Gary, Stockdale, McGrath, Miles, Ray, hocking..."
South-Eastern Metropolitan,25,"{Gary, Stockdale, Chisholm, McGrath, Ray, hock..."
Eastern Victoria,11,"{HAR, Barry, C21, Eview, Harcourts, O'Brien, M..."
Northern Victoria,11,"{LITTLE, HAR, Barry, Buckingham, McGrath, Rain..."
Western Victoria,6,"{HAR, Raine, other, YPA, Ray, hockingstuart}"

In [ ]:
df.groupby('Rooms')['Price'].agg(
    'describe'
).sort_values(by='mean', ascending=False)

,count,mean,std,min,25%,50%,75%,max
Rooms,,,,,,,,
7,10.0,1.920700e+06,9.476201e+05,1005000.0,1312500.0,1496000.0,2450000.0,4050000.0
5,596.0,1.870260e+06,9.823493e+05,355000.0,1150000.0,1660000.0,2400000.0,8000000.0
6,67.0,1.849366e+06,1.094247e+06,506000.0,1167500.0,1800000.0,2125000.0,6500000.0
8,8.0,1.602750e+06,8.306264e+05,741000.0,853250.0,1515000.0,2212500.0,2950000.0
4,2688.0,1.445282e+06,7.474872e+05,131000.0,902000.0,1285000.0,1786250.0,7650000.0
3,5881.0,1.076081e+06,5.021061e+05,283000.0,725000.0,950000.0,1320000.0,9000000.0
10,1.0,9.000000e+05,NaN,900000.0,900000.0,900000.0,900000.0,900000.0
2,3648.0,7.750812e+05,3.561259e+05,190000.0,535000.0,690000.0,912625.0,4800000.0
1,681.0,4.338245e+05,2.249857e+05,85000.0,325000.0,385000.0,460000.0,2450000.0

In [ ]:
df.groupby('Regionname')['Lattitude'].agg(
    'std'
).sort_values(ascending=False)

Regionname
Eastern Victoria              0.147067
Northern Victoria             0.084455
South-Eastern Metropolitan    0.073411
Western Metropolitan          0.051251
Northern Metropolitan         0.049639
Eastern Metropolitan          0.047890
Southern Metropolitan         0.043080
Western Victoria              0.011579
Name: Lattitude, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
 26  quarter          13580 non-null  int64
dtypes: category(10), datetime64[ns](1), float64(8), int64(8)
memory usage: 1.9 MB

In [ ]:
df.head(1)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,quarter
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,1,1,202.0,126.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.2,-0.231707,3,46,5,St,1,1

In [ ]:
df.head(1)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,quarter
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,1,1,202.0,126.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.2,-0.231707,3,46,5,St,1,1

In [ ]:
mask = ((df['Date'] > pd.Timestamp(year=2017, month=5, day=1)) & (df['Date'] <= pd.Timestamp(year=2017, month=9, day=1)))
may_sep_interval = df[mask].copy()
may_sep_interval.head(5)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,quarter
7431,Aberfeldie,4,house,1330000.0,S,Nelson,2017-06-05,9.1,3040,4,2,2,273.0,126.0,Moonee Valley,-37.7574,144.8959,Western Metropolitan,1543,12.600000,-0.368421,6,47,0,St,0,2
7432,Aberfeldie,3,house,1300000.0,S,Nelson,2017-08-04,9.1,3040,3,3,2,240.0,240.0,Moonee Valley,-37.7620,144.8916,Western Metropolitan,1543,26.666667,0.000000,8,4,4,St,0,3
7433,Aberfeldie,2,house,470000.0,S,Barry,2017-08-04,9.1,3040,2,1,1,70.0,72.3,Moonee Valley,-37.7564,144.9043,Western Metropolitan,1543,14.460000,0.016163,8,37,4,St,0,3
7435,Albert Park,3,house,1700000.0,VB,Greg,2017-06-05,3.3,3206,3,1,1,178.0,116.0,Port Phillip,-37.8473,144.9495,Southern Metropolitan,3280,16.571429,-0.210884,6,107,0,St,0,2
7436,Albert Park,1,unit,1100000.0,PI,Nelson,2017-08-04,3.3,3206,1,1,1,0.0,64.0,Port Phillip,-37.8487,144.9511,Southern Metropolitan,3280,21.333333,1.000000,8,129,4,Pde,0,3

In [ ]:
may_sep_interval.groupby('SellerG')['Price'].agg('describe').sort_values(by='mean', ascending=True)

,count,mean,std,min,25%,50%,75%,max
SellerG,,,,,,,,
YPA,76.0,6.099257e+05,1.651664e+05,341000.0,503750.0,585500.0,690750.0,1335000.0
Thomson,13.0,6.409231e+05,3.385017e+05,295000.0,410000.0,550000.0,796000.0,1535000.0
Burnham,7.0,6.500714e+05,3.187947e+05,310000.0,421500.0,472500.0,912500.0,1100000.0
Bells,13.0,6.658462e+05,1.805182e+05,340000.0,610000.0,660000.0,716000.0,1070000.0
Douglas,27.0,6.792963e+05,1.681557e+05,245000.0,580000.0,700000.0,801000.0,950000.0
...,...,...,...,...,...,...,...,...
RT,34.0,1.485235e+06,8.259743e+05,312000.0,914000.0,1289500.0,1936250.0,3600000.0
Collins,12.0,1.684750e+06,1.038350e+06,500000.0,996250.0,1377500.0,2401250.0,3970000.0
Nick,9.0,1.876667e+06,8.196836e+05,495000.0,1410000.0,2100000.0,2260000.0,2830000.0
Marshall,130.0,1.953522e+06,8.837722e+05,330000.0,1385750.0,1925000.0,2518250.0,4515000.0
Kay,24.0,2.023729e+06,1.041875e+06,500000.0,1267500.0,1862500.0,2765000.0,4750000.0

In [ ]:
df.groupby('Rooms')[['Price', 'BuildingArea']].median()

           Price  BuildingArea
Rooms
1       385000.0         107.0
2       690000.0         126.0
3       950000.0         126.0
4      1285000.0         142.0
5      1660000.0         176.0
6      1800000.0         126.0
7      1496000.0         216.5
8      1515000.0         126.0
10      900000.0         126.0

In [ ]:
df.groupby(['Rooms', 'Type'])['Price'].mean()

Rooms  Type
1      house        8.668655e+05
       townhouse    5.927045e+05
       unit         3.899289e+05
2      house        1.017238e+06
       townhouse    7.101585e+05
                        ...
8      townhouse             NaN
       unit         2.250000e+06
10     house        9.000000e+05
       townhouse             NaN
       unit                  NaN
Name: Price, Length: 27, dtype: float64

In [ ]:
df.groupby(['Rooms', 'Type'])['Price'].mean().unstack()

Type          house     townhouse          unit
Rooms
1      8.668655e+05  5.927045e+05  3.899289e+05
2      1.017238e+06  7.101585e+05  6.104905e+05
3      1.109233e+06  9.847087e+05  8.505963e+05
4      1.462283e+06  1.217092e+06  1.037476e+06
5      1.877327e+06  1.035000e+06           NaN
6      1.869508e+06           NaN  5.200000e+05
7      1.920700e+06           NaN           NaN
8      1.510286e+06           NaN  2.250000e+06
10     9.000000e+05           NaN           NaN

In [ ]:
df.pivot_table(
    values='Price',
    index='Rooms',
    columns='Type',
    fill_value=0
).round()

Type       house  townhouse       unit
Rooms
1       866866.0   592705.0   389929.0
2      1017238.0   710158.0   610491.0
3      1109233.0   984709.0   850596.0
4      1462283.0  1217092.0  1037476.0
5      1877327.0  1035000.0        0.0
6      1869508.0        0.0   520000.0
7      1920700.0        0.0        0.0
8      1510286.0        0.0  2250000.0
10      900000.0        0.0        0.0

In [ ]:
df.pivot_table(
    values='Price',
    index='Regionname',
    columns='Weekend',
    aggfunc='count'
)

Weekend                        0     1
Regionname
Eastern Metropolitan         447  1024
Eastern Victoria              13    40
Northern Metropolitan       1258  2632
Northern Victoria             11    30
South-Eastern Metropolitan   123   327
Southern Metropolitan       1534  3161
Western Metropolitan         960  1988
Western Victoria               8    24

In [ ]:
df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['median', 'mean'],
    fill_value=0
)

                           median                        mean              \
Type                        house townhouse unit        house   townhouse
Regionname
Eastern Metropolitan        674.0     233.5  203   717.422847  269.440678
Eastern Victoria            843.0       0.0  230  3108.960000    0.000000
Northern Metropolitan       459.5     134.0    0   619.249092  317.325733
Northern Victoria           724.0       0.0    0  3355.463415    0.000000
South-Eastern Metropolitan  630.5     240.0  199   664.306701  212.160000
Southern Metropolitan       586.0     246.0    0   569.643881  278.858824
Western Metropolitan        531.0     198.0   62   507.883406  244.560669
Western Victoria            599.5       0.0    0   655.500000    0.000000


Type                              unit
Regionname
Eastern Metropolitan        330.444444
Eastern Victoria            295.333333
Northern Metropolitan       495.026538
Northern Victoria             0.000000
South-Eastern Metropolitan  357.864865
Southern Metropolitan       466.380245
Western Metropolitan        557.637232
Western Victoria              0.000000

In [ ]:
df.pivot_table(
    values='Price',
    index=['Method','Type'],
    columns='Regionname',
    aggfunc='median',
    fill_value=0
)

Regionname        Eastern Metropolitan  Eastern Victoria  \
Method Type
PI     house                   1244000            780000
       townhouse                760000                 0
       unit                     650000                 0
S      house                   1127000            675000
       townhouse                828000                 0
...                                ...               ...
SP     townhouse                910000                 0
       unit                     515000            400000
VB     house                   1100000            712500
       townhouse                892500                 0
       unit                     500000                 0

Regionname        Northern Metropolitan  Northern Victoria  \
Method Type
PI     house                     900000             500000
       townhouse                 632500                  0
       unit                      410000                  0
S      house                     920000             555000
       townhouse                 750000                  0
...                                 ...                ...
SP     townhouse                 690000                  0
       unit                      470000                  0
VB     house                    1050000             690000
       townhouse                 640000                  0
       unit                      450000                  0

Regionname        South-Eastern Metropolitan  Southern Metropolitan  \
Method Type
PI     house                          865000                1725000
       townhouse                     1190000                1055000
       unit                           525000                 571250
S      house                          883300                1611000
       townhouse                      875000                1135000
...                                      ...                    ...
SP     townhouse                      800000                1162500
       unit                           601000                 550000
VB     house                          850000                1800000
       townhouse                           0                1250000
       unit                           700000                 500000

Regionname        Western Metropolitan  Western Victoria
Method Type
PI     house                    870000            630000
       townhouse                670000                 0
       unit                     360000                 0
S      house                    870000            397500
       townhouse                729000                 0
...                                ...               ...
SP     townhouse                702500                 0
       unit                     460000                 0
VB     house                    880000                 0
       townhouse                689500                 0
       unit                     420000                 0

[15 rows x 8 columns]

In [ ]:
df.pivot_table(
    values='Price',
    index=['Type','Method'],
    columns='Regionname',
    aggfunc='median',
    fill_value=0
)

Regionname    Eastern Metropolitan  Eastern Victoria  Northern Metropolitan  \
Type  Method
house PI                   1244000            780000                 900000
      S                    1127000            675000                 920000
      SA                    932500            950000                 817500
      SP                   1050000            672500                 900000
      VB                   1100000            712500                1050000
...                            ...               ...                    ...
unit  PI                    650000                 0                 410000
      S                     645750            492000                 525500
      SA                         0                 0                 616000
      SP                    515000            400000                 470000
      VB                    500000                 0                 450000

Regionname    Northern Victoria  South-Eastern Metropolitan  \
Type  Method
house PI                 500000                      865000
      S                  555000                      883300
      SA                 540000                      880000
      SP                 521000                      770000
      VB                 690000                      850000
...                         ...                         ...
unit  PI                      0                      525000
      S                       0                      606000
      SA                      0                           0
      SP                      0                      601000
      VB                      0                      700000

Regionname    Southern Metropolitan  Western Metropolitan  Western Victoria
Type  Method
house PI                    1725000                870000            630000
      S                     1611000                870000            397500
      SA                    1390000                772500                 0
      SP                    1521750                865000            360000
      VB                    1800000                880000                 0
...                             ...                   ...               ...
unit  PI                     571250                360000                 0
      S                      655000                489000                 0
      SA                     580000                571000                 0
      SP                     550000                460000                 0
      VB                     500000                420000                 0

[15 rows x 8 columns]

In [ ]:
pivot = df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['median', 'mean'],
    fill_value=0
)

In [ ]:
pivot

                           median                        mean              \
Type                        house townhouse unit        house   townhouse
Regionname
Eastern Metropolitan        674.0     233.5  203   717.422847  269.440678
Eastern Victoria            843.0       0.0  230  3108.960000    0.000000
Northern Metropolitan       459.5     134.0    0   619.249092  317.325733
Northern Victoria           724.0       0.0    0  3355.463415    0.000000
South-Eastern Metropolitan  630.5     240.0  199   664.306701  212.160000
Southern Metropolitan       586.0     246.0    0   569.643881  278.858824
Western Metropolitan        531.0     198.0   62   507.883406  244.560669
Western Victoria            599.5       0.0    0   655.500000    0.000000


Type                              unit
Regionname
Eastern Metropolitan        330.444444
Eastern Victoria            295.333333
Northern Metropolitan       495.026538
Northern Victoria             0.000000
South-Eastern Metropolitan  357.864865
Southern Metropolitan       466.380245
Western Metropolitan        557.637232
Western Victoria              0.000000

In [ ]:
pivot.columns

MultiIndex([('median',     'house'),
            ('median', 'townhouse'),
            ('median',      'unit'),
            (  'mean',     'house'),
            (  'mean', 'townhouse'),
            (  'mean',      'unit')],
           names=[None, 'Type'])

In [ ]:
pivot['mean']['unit']

Regionname
Eastern Metropolitan          330.444444
Eastern Victoria              295.333333
Northern Metropolitan         495.026538
Northern Victoria               0.000000
South-Eastern Metropolitan    357.864865
Southern Metropolitan         466.380245
Western Metropolitan          557.637232
Western Victoria                0.000000
Name: unit, dtype: float64

In [ ]:
mask = pivot['mean']['house'] < pivot['median']['house']
filtered_pivot = pivot[mask]
display(filtered_pivot)

                      median                       mean              \
Type                   house townhouse unit       house   townhouse
Regionname
Southern Metropolitan  586.0     246.0    0  569.643881  278.858824
Western Metropolitan   531.0     198.0   62  507.883406  244.560669


Type                         unit
Regionname
Southern Metropolitan  466.380245
Western Metropolitan   557.637232

In [ ]:
list(filtered_pivot.index)

['Southern Metropolitan', 'Western Metropolitan']

In [ ]:
pivot = df.pivot_table(
    values='BuildingArea',
    index='Regionname',
    columns=['Type', 'Rooms'],
    aggfunc='median',
    fill_value=0
)
display(pivot)

Type                       house                                        \
Rooms                         1        2    3        4       5      6
Regionname
Eastern Metropolitan         126  126.000  126  126.000  126.00  126.0
Eastern Victoria               0  103.895  126  164.505  186.75    0.0
Northern Metropolitan        126  126.000  126  126.000  150.00  126.0
Northern Victoria              0   93.500  126  142.500  225.00  126.0
South-Eastern Metropolitan     0  126.000  126  138.000  126.00  181.0
Southern Metropolitan        126  126.000  126  158.000  208.00  126.0
Western Metropolitan         126  126.000  126  145.000  176.00  226.5
Western Victoria               0  126.000  124  156.000  203.00    0.0

Type                                           townhouse                       \
Rooms                           7      8    10        1      2      3      4
Regionname
Eastern Metropolitan        409.54  120.5    0         0  117.5  126.0  133.0
Eastern Victoria              0.00    0.0    0         0    0.0    0.0    0.0
Northern Metropolitan       206.50  101.0  126       126  109.0  126.0  136.0
Northern Victoria             0.00    0.0    0         0    0.0    0.0    0.0
South-Eastern Metropolitan    0.00    0.0    0        88  105.0  127.5  200.5
Southern Metropolitan       126.00  126.0    0        60  126.0  126.0  182.0
Western Metropolitan        335.50  190.0    0         0  126.0  129.0  155.0
Western Victoria              0.00    0.0    0         0    0.0    0.0    0.0

Type                            unit
Rooms                        5    1      2    3      4    6    8
Regionname
Eastern Metropolitan        126  126  126.0  126  126.0    0    0
Eastern Victoria              0    0  126.0  114    0.0    0    0
Northern Metropolitan       152   62   92.5  126  166.5    0  126
Northern Victoria             0    0    0.0    0    0.0    0    0
South-Eastern Metropolitan    0   84  126.0  126  126.0    0    0
Southern Metropolitan       159  126  126.0  126  150.0    0    0
Western Metropolitan        147   58   91.0  126  171.0  171    0
Western Victoria              0    0    0.0    0    0.0    0    0

In [ ]:
pivot = df.pivot_table(
    values='Price',
    # columns=['unit'],
    index=['SellerG', 'Type'],
    aggfunc='median',
    fill_value=0
)
display(pivot)

                           Price
SellerG       Type
Alexkarbon    house      1036250
              townhouse   935000
              unit        560000
Barry         house       830000
              townhouse   727500
...                          ...
hockingstuart townhouse   935000
              unit        566000
other         house       901000
              townhouse   840500
              unit        535000

[147 rows x 1 columns]

In [ ]:
pivot['Price']

SellerG        Type
Alexkarbon     house        1036250
               townhouse     935000
               unit          560000
Barry          house         830000
               townhouse     727500
                             ...
hockingstuart  townhouse     935000
               unit          566000
other          house         901000
               townhouse     840500
               unit          535000
Name: Price, Length: 147, dtype: int64

# 5.2.5

In [ ]:
ratings1 = pd.read_csv('https://raw.githubusercontent.com/modernpacifist/engineering-of-machine-learning-urfu/master/python-pro-level/Datasets/ratings1.csv')

In [ ]:
ratings1.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [ ]:
ratings2 = pd.read_csv('https://raw.githubusercontent.com/modernpacifist/engineering-of-machine-learning-urfu/master/python-pro-level/Datasets/ratings2.csv')

In [ ]:
ratings2.head()

   userId  movieId  rating
0     274     5621     2.0
1     274     5630     3.0
2     274     5667     3.5
3     274     5679     3.5
4     274     5690     3.0

In [ ]:
dates = pd.read_csv('https://raw.githubusercontent.com/modernpacifist/engineering-of-machine-learning-urfu/master/python-pro-level/Datasets/dates.csv')

In [ ]:
dates.head()

                  date
0  2000-07-30 18:45:03
1  2000-07-30 18:20:47
2  2000-07-30 18:37:04
3  2000-07-30 19:03:35
4  2000-07-30 18:48:51

In [ ]:
movies = pd.read_csv('https://raw.githubusercontent.com/modernpacifist/engineering-of-machine-learning-urfu/master/python-pro-level/Datasets/movies.csv')

In [ ]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
movies['movieId'].nunique()

9742

In [ ]:
ratings1['userId'].nunique()

274

In [ ]:
dates['date'] = pd.to_datetime(dates['date'])

In [ ]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 787.9 KB

In [ ]:
dates['date'].dt.year.value_counts().head(1)

2000    10061
Name: date, dtype: int64

In [ ]:
dates['date'].dt.year.value_counts().reset_index().iloc[0]

index     2000
date     10061
Name: 0, dtype: int64

# 5.2.6

In [ ]:
ratings = pd.concat([ratings1, ratings2])
display(ratings)

       userId  movieId  rating
0           1        1     4.0
1           1        3     4.0
2           1        6     4.0
3           1       47     5.0
4           1       50     5.0
...       ...      ...     ...
60831     610   166534     4.0
60832     610   168248     5.0
60833     610   168250     5.0
60834     610   168252     5.0
60835     610   170875     3.0

[100837 rows x 3 columns]

In [ ]:
ratings = pd.concat(
    [ratings1, ratings2],
    ignore_index=True
)
display(ratings)

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

In [ ]:
print('Number of lines in ratings: ', ratings.shape[0])
print('Number of lines in dates: ', dates.shape[0])
print(ratings.shape[0] == dates.shape[0])

Number of lines in ratings:  100837
Number of lines in dates:  100836
False

In [ ]:
display(ratings1.tail(1))
display(ratings2.head(1))

       userId  movieId  rating
40000     274     5621     2.0

   userId  movieId  rating
0     274     5621     2.0

In [ ]:
ratings = ratings.drop_duplicates(ignore_index=True)
print('Number of lines in ratings: ', ratings.shape[0])

Number of lines in ratings:  100836

In [ ]:
ratings_dates = pd.concat([ratings, dates], axis=1)
display(ratings_dates.tail(7))

        userId  movieId  rating                date
100829     610   164179     5.0 2017-05-03 21:07:11
100830     610   166528     4.0 2017-05-04 06:29:25
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

In [ ]:
ratings_dates = pd.concat([ratings, dates], axis=1)
display(ratings_dates.tail(7))

        userId  movieId  rating                date
100829     610   164179     5.0 2017-05-03 21:07:11
100830     610   166528     4.0 2017-05-04 06:29:25
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

In [ ]:
ratings_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int64
 1   movieId  100836 non-null  int64
 2   rating   100836 non-null  float64
 3   date     100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.1 MB

In [ ]:
df1 = pd.DataFrame({"Name": ["Pankaj", "Lisa"], "Surname": ["Sobolev", "Krasnova"]})
df2 = pd.DataFrame({"Role": ["Admin", "Editor"]})

In [ ]:
df1

     Name   Surname
0  Pankaj   Sobolev
1    Lisa  Krasnova

In [ ]:
df2

     Role
0   Admin
1  Editor

In [ ]:
df = pd.concat([df1, df2], axis=1)
display(df)

     Name   Surname    Role
0  Pankaj   Sobolev   Admin
1    Lisa  Krasnova  Editor

# 5.2.7

In [ ]:
joined_false = ratings_dates.join(
    movies,
    rsuffix='_right',
    how='left'
)
display(joined_false)

,userId,movieId,rating,date,movieId_right,title,genres
0,1,1,4.0,2000-07-30 18:45:03,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,2.0,Jumanji (1995),Adventure|Children|Fantasy
2,1,6,4.0,2000-07-30 18:37:04,3.0,Grumpier Old Men (1995),Comedy|Romance
3,1,47,5.0,2000-07-30 19:03:35,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,1,50,5.0,2000-07-30 18:48:51,5.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...,...,...
100831,610,166534,4.0,2017-05-03 21:53:22,NaN,NaN,NaN
100832,610,168248,5.0,2017-05-03 22:21:31,NaN,NaN,NaN
100833,610,168250,5.0,2017-05-08 19:50:47,NaN,NaN,NaN
100834,610,168252,5.0,2017-05-03 21:19:12,NaN,NaN,NaN
100835,610,170875,3.0,2017-05-03 21:20:15,NaN,NaN,NaN

In [ ]:
joined = ratings_dates.join(
    movies.set_index('movieId'),
    on='movieId',
    how='left'
)
display(joined.head())

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [ ]:
merged = ratings_dates.merge(
    movies,
    on='movieId',
    how='left'
)
display(merged.head())

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [ ]:
print('Quantity of rows in ratings_dates: ', ratings_dates.shape[0])
print('Quantity of rows in merged: ', merged.shape[0])
print(ratings_dates.shape[0] == merged.shape[0])

Quantity of rows in ratings_dates:  100836
Quantity of rows in merged:  100836
True

In [ ]:
merged2 = ratings_dates.merge(
    movies,
    on='movieId',
    how='outer'
)
print('Quantity of rows in merged2: ', merged2.shape[0])
display(merged2.tail())

Quantity of rows in merged2:  100854

,userId,movieId,rating,date,title,genres
100849,NaN,30892,NaN,NaT,In the Realms of the Unreal (2004),Animation|Documentary
100850,NaN,32160,NaN,NaT,Twentieth Century (1934),Comedy
100851,NaN,32371,NaN,NaT,Call Northside 777 (1948),Crime|Drama|Film-Noir
100852,NaN,34482,NaN,NaT,"Browning Version, The (1951)",Drama
100853,NaN,85565,NaN,NaT,Chalet Girl (2011),Comedy|Romance

In [ ]:
merge_ratings = ratings1.merge(ratings2, how='outer')
print('Quantity of rows in merge_ratings: ', merge_ratings.shape[0])
display(merge_ratings)

Quantity of rows in merge_ratings:  100836

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [ ]:
data_1 = pd.DataFrame({'Value': [100, 45, 80],
                       'Group': [1, 4, 5]},
                      index = ['I0', 'I1', 'I2']
                     )
display(data_1)

    Value  Group
I0    100      1
I1     45      4
I2     80      5

In [ ]:
data_2 = pd.DataFrame({'Company': ['Google', 'Amazon', 'Facebook'],
                       'Add': ['S0', 'S1', 'S7']},
                      index = ['I0', 'I1', 'I3']
                     )
display(data_2)

     Company Add
I0    Google  S0
I1    Amazon  S1
I3  Facebook  S7

In [ ]:
joined = data_1.join(data_2, how='inner')
display(joined)

    Value  Group Company Add
I0    100      1  Google  S0
I1     45      4  Amazon  S1

In [ ]:
a = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [103, 214, 124], 'C': [1, 4, 2]})
display(a)

   A    B  C
0  a  103  1
1  b  214  4
2  c  124  2

In [ ]:
b = pd.DataFrame({'V': ['d', 'b', 'c'], 'U': [1393.7, 9382.2, 1904.5], 'C': [1, 3, 2]})
display(b)

   V       U  C
0  d  1393.7  1
1  b  9382.2  3
2  c  1904.5  2

In [ ]:
j = a.merge(b, on='C', how='right')
display(j)

     A      B  C  V       U
0    a  103.0  1  d  1393.7
1  NaN    NaN  3  b  9382.2
2    c  124.0  2  c  1904.5

In [ ]:
items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})

In [ ]:
purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})

In [ ]:
m = items_df.merge(purchase_df, on='item_id')
display(m)

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

In [ ]:
m['price']

0    13900
1     5330
2    38200
3    49990
4     9890
5    33000
6    67500
7    34500
8    11400
Name: price, dtype: int64

In [ ]:
m['stock_count']

0     54
1     33
2    122
3     18
4    102
5     43
6     77
7    143
8     60
Name: stock_count, dtype: int64

In [ ]:
m[['price', 'stock_count']]

   price  stock_count
0  13900           54
1   5330           33
2  38200          122
3  49990           18
4   9890          102
5  33000           43
6  67500           77
7  34500          143
8  11400           60

In [ ]:
m['mul'] = m['price'] * m['stock_count']
m

   item_id   vendor  stock_count  purchase_id  price      mul
0   417283  Samsung           54          101  13900   750600
1   849734       LG           33          101   5330   175890
2   132223    Apple          122          101  38200  4660400
3   573943    Apple           18          112  49990   899820
4    19475       LG          102          121   9890  1008780
5  3294095    Apple           43          145  33000  1419000
6   382043  Samsung           77          145  67500  5197500
7   302948  Samsung          143          145  34500  4933500
8   100132       LG           60          221  11400   684000

In [ ]:
m['mul'].sum()

19729490

# 5.2.8

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/modernpacifist/engineering-of-machine-learning-urfu/master/python-pro-level/Datasets/ratings_movies.csv')

In [16]:
df.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  100836 non-null  int64
 1   userId      100836 non-null  int64
 2   movieId     100836 non-null  int64
 3   rating      100836 non-null  float64
 4   date        100836 non-null  object
 5   title       100836 non-null  object
 6   genres      100836 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 5.4+ MB

In [18]:
import re

In [19]:
def get_year_release(arg):
    candidates = re.findall(r'\(\d{4}\)', arg) 
    if len(candidates) > 0:
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        return None

In [20]:
df.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [21]:
df['year_release'] = df['title'].apply(get_year_release)
df.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0

In [22]:
df['year_release'].isnull().sum()

18

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

In [24]:
year_1999 = df[df['year_release'] == 1999]
year_1999

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
162,162,1,2502,5.0,2000-07-30 18:21:18,Office Space (1999),Comedy|Crime,1999.0
166,166,1,2571,5.0,2000-07-30 18:31:28,"Matrix, The (1999)",Action|Sci-Fi|Thriller,1999.0
167,167,1,2580,5.0,2000-07-30 18:50:00,Go (1999),Comedy|Crime,1999.0
170,170,1,2617,2.0,2000-07-30 18:43:08,"Mummy, The (1999)",Action|Adventure|Comedy|Fantasy|Horror|Thriller,1999.0
171,171,1,2628,4.0,2000-07-30 18:08:43,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi,1999.0
...,...,...,...,...,...,...,...,...
100090,100090,610,27317,4.0,2016-11-19 08:48:51,Audition (Ôdishon) (1999),Drama|Horror|Mystery|Romance|Thriller,1999.0
100169,100169,610,41712,4.0,2016-11-19 08:53:53,"Room for Romeo Brass, A (1999)",Comedy|Drama,1999.0
100677,100677,610,110281,4.0,2016-11-19 08:00:36,King of Comedy (Hei kek ji wong) (1999),Comedy|Drama|Romance,1999.0
100797,100797,610,145951,0.5,2017-05-03 22:03:39,Bloodsport: The Dark Kumite (1999),Action|Thriller,1999.0
100815,100815,610,158721,3.5,2016-11-19 08:01:31,Gen-X Cops (1999),Action|Comedy|Thriller,1999.0

In [ ]:
mean_values = year_1999.groupby('title')['rating'].mean()
mean_values.sort_values()

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

In [ ]:
year_2010 = df[df['year_release'] == 2010]

In [ ]:
mean_values_1 = year_2010.groupby('genres')['rating'].mean()
mean_values_1.sort_values()

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

In [ ]:
df.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0

In [ ]:
df[['userId', 'genres']].groupby('userId')['genres'].count().sort_values()

userId
442      20
406      20
147      20
194      20
569      20
       ...
274    1346
448    1864
474    2108
599    2478
414    2698
Name: genres, Length: 610, dtype: int64

In [ ]:
df.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0

In [37]:
counts = df.groupby('userId')['rating'].size()
mean = df.groupby('userId')['rating'].mean()

In [38]:
counts

userId
1       232
2        29
3        39
4       216
5        44
       ...
606    1115
607     187
608     831
609      37
610    1302
Name: rating, Length: 610, dtype: int64

In [39]:
mean

userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Name: rating, Length: 610, dtype: float64

In [40]:
min_count_index = counts.idxmin()
max_mean_index = mean[mean == mean.max()].index[0]

In [42]:
if min_count_index == max_mean_index:
    print(min_count_index)

53

In [44]:
year_2018 = df[df['year_release'] == 2018]

In [45]:
year_2018

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
4031,4031,25,122912,5.0,2018-08-28 15:34:21,Avengers: Infinity War - Part I (2018),Action|Adventure|Sci-Fi,2018.0
4036,4036,25,187541,4.0,2018-08-28 15:34:32,Incredibles 2 (2018),Action|Adventure|Animation|Children,2018.0
4037,4037,25,187593,5.0,2018-08-28 15:35:34,Deadpool 2 (2018),Action|Comedy|Sci-Fi,2018.0
7420,7420,50,188301,3.0,2018-08-03 13:17:57,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,2018.0
7421,7421,50,190183,3.5,2018-08-03 13:13:41,The Darkest Minds (2018),Sci-Fi|Thriller,2018.0
...,...,...,...,...,...,...,...,...
90255,90255,586,187595,5.0,2018-06-25 04:05:56,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,2018.0
92108,92108,596,122912,4.0,2018-08-30 11:06:55,Avengers: Infinity War - Part I (2018),Action|Adventure|Sci-Fi,2018.0
92156,92156,596,183635,3.5,2018-08-31 09:59:53,Maze Runner: The Death Cure (2018),Action|Mystery|Sci-Fi|Thriller,2018.0
92157,92157,596,184997,4.0,2018-09-01 19:03:49,"Love, Simon (2018)",Comedy|Drama,2018.0
92158,92158,596,188301,4.0,2018-08-31 09:57:48,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,2018.0

In [69]:
mean_2018 = year_2018.groupby('genres')['rating'].agg('count')
mean_2018.sort_values()

genres
Adventure|Comedy|Fantasy             1
Drama|Fantasy|Thriller               1
Crime|Drama|Mystery|Thriller         1
Crime|Drama                          1
Comedy|Romance                       1
                                    ..
Animation|Comedy                     5
Action|Adventure|Children|Sci-Fi     5
Comedy                               8
Action|Comedy|Sci-Fi                12
Action|Adventure|Sci-Fi             14
Name: rating, Length: 33, dtype: int64

In [73]:
df['date'] = pd.to_datetime(df['date'])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  datetime64[ns]
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 6.2+ MB

In [76]:
df['year_rating'] = df['date'].dt.year
df.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release,year_rating
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,2000
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0,2000
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0,2000
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0,2000
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0,2000

In [101]:
year_to_rating_cor = df.groupby(['genres', 'year_rating'])['rating'].mean()
pd.set_option('max_rows', None)
display(year_to_rating_cor)

genres                                                                         year_rating
(no genres listed)                                                             2015           0.500000
                                                                               2016           3.500000
                                                                               2017           3.000000
                                                                               2018           3.676471
Action                                                                         1996           2.730769
                                                                               1997           3.538462
                                                                               2000           2.588235
                                                                               2001           3.000000
                                                                               2002           2.750000
                                                                               2003           3.833333
                                                                               2004           2.700000
                                                                               2005           3.357143
                                                                               2006           2.166667
                                                                               2007           2.583333
                                                                               2008           3.000000
                                                                               2010           3.500000
                                                                               2011           4.500000
                                                                               2012           2.625000
                                                                               2013           2.500000
                                                                               2015           3.100000
                                                                               2016           3.545455
                                                                               2017           2.637931
                                                                               2018           2.588235
Action|Adventure                                                               1996           3.454545
                                                                               1997           4.150000
                                                                               1998           4.200000
                                                                               1999           4.000000
                                                                               2000           3.738462
                                                                               2001           3.500000
                                                                               2002           4.304348
                                                                               2003           3.277778
                                                                               2004           4.136364
                                                                               2005           3.413043
                                                                               2006           4.090909
                                                                               2007           3.666667
                                                                               2008           3.656250
                                                                               2009           3.714286
                                                                               2010           3.437500
                                                                               2011           3.888889
                                                                               2012           3.900000
                                                                               2013           3.833333
                                                                               2014           3.875000
                                                                               2015           3.560976
                                                                               2016           3.722222
                                                                               2017           3.527778
                                                                               2018           3.397436
Action|Adventure|Animation                                                     2014           3.000000
                                                                               2015           3.800000
                                                                               2016           3.750000
                                                                               2017           3.375000
                                                                               2018           3.650000
Action|Adventure|Animation|Children                                            2012           4.000000
                                                                               2013           3.000000
                                                                               2014           3.500000
                                                                               2015           3.666667
                                                                               2016           3.833333
                                                                               2017           3.500000
                                                                               2018           3.166667
Action|Adventure|Animation|Children|Comedy                                     2004           4.000000
                                                                               2005           4.107143
                                                                               2006           3.833333
                                                                               2007           3.846154
                                                                               2008           4.125000
                                                                               2009           3.900000
                                                                               2010           4.333333
                                                                               2011           3.500000
                                                                               2012           3.785714
                                                                               2013           4.333333
                                                                               2014           3.250000
                                                                               2015           3.565217
                                                                               2016           3.925000
                                                                               2017           3.676471
                                                                               2018           3.741935
Action|Adventure|Animation|Children|Comedy|Fantasy                             2007           3.000000
                                                                               2008           4.000000
                                                                               2014           3.833333
                                                                               2015           3.833333
                                                                               2016           3.388889
                                                                               2017           3.700000
                                                                               2018           4.142857
Action|Adventure|Animation|Children|Comedy|IMAX                                2009           3.250000
                                                                               2010           3.500000
                                                                               2012           3.550000
                                                                               2013           5.000000
                                                                               2014           3.500000
                                                                               2015           3.375000
                                                                               2016           3.666667
                                                                               2017           1.000000
                                                                               2018           3.700000
Action|Adventure|Animation|Children|Comedy|Romance                             2010           3.000000
                                                                               2012           4.000000
                                                                               2014           4.000000
                                                                               2015           2.333333
                                                                               2016           1.000000
                                                                               2017           1.000000
                                                                               2018           2.500000
Action|Adventure|Animation|Children|Comedy|Sci-Fi                              2006           3.000000
                                                                               2007           2.800000
                                                                               2008           3.500000
                                                                               2009           2.500000
                                                                               2011           4.000000
                                                                               2015           2.500000
                                                                               2016           4.000000
                                                                               2017           2.000000
                                                                               2018           4.000000
Action|Adventure|Animation|Children|Comedy|Sci-Fi|IMAX                         2016           3.500000
Action|Adventure|Animation|Children|Comedy|Western                             2011           4.500000
                                                                               2012           4.166667
                                                                               2015           2.875000
                                                                               2016           3.000000
                                                                               2017           3.500000
                                                                               2018           4.166667
Action|Adventure|Animation|Children|Fantasy                                    1999           4.000000
                                                                               2000           2.666667
                                                                               2007           4.000000
                                                                               2008           3.000000
                                                                               2009           2.000000
                                                                               2016           2.500000
Action|Adventure|Animation|Children|Fantasy|Sci-Fi                             2003           4.000000
                                                                               2006           3.666667
                                                                               2007           4.000000
                                                                               2008           4.000000
                                                                               2009           4.750000
                                                                               2011           5.000000
                                                                               2012           3.750000
                                                                               2013           3.500000
                                                                               2015           3.750000
                                                                               2016           4.500000
                                                                               2017           4.333333
                                                                               2018           2.833333
Action|Adventure|Animation|Children|Sci-Fi                                     2000           4.000000
                                                                               2001           3.000000
                                                                               2002           3.500000
                                                                               2003           2.500000
                                                                               2004           3.000000
                                                                               2005           3.083333
                                                                               2006           4.000000
                                                                               2007           3.000000
                                                                               2008           3.375000
                                                                               2010           3.500000
                                                                               2012           4.250000
                                                                               2016           3.000000
                                                                               2017           3.000000
Action|Adventure|Animation|Comedy                                              2005           2.500000
                                                                               2006           3.600000
                                                                               2007           3.250000
                                                                               2008           3.100000
                                                                               2012           4.000000
                                                                               2014           4.000000
                                                                               2015           3.125000
                                                                               2016           4.083333
                                                                               2017           3.500000
                                                                               2018           3.833333
Action|Adventure|Animation|Comedy|Crime|Mystery                                2005           3.500000
                                                                               2007           4.000000
                                                                               2008           3.000000
                                                                               2018           3.500000
Action|Adventure|Animation|Comedy|Fantasy|Mystery|Sci-Fi                       2008           3.000000
Action|Adventure|Animation|Comedy|Fantasy|Sci-Fi                               2008           4.000000
                                                                               2009           4.000000
                                                                               2010           2.500000
                                                                               2012           4.000000
                                                                               2015           3.000000
Action|Adventure|Animation|Comedy|Sci-Fi                                       2015           5.000000
                                                                               2018           3.500000
Action|Adventure|Animation|Comedy|Thriller                                     2017           3.000000
Action|Adventure|Animation|Crime|Fantasy                                       2009           4.500000
                                                                               2014           5.000000
                                                                               2017           4.500000
Action|Adventure|Animation|Drama                                               2015           3.500000
                                                                               2018           2.000000
Action|Adventure|Animation|Drama|Fantasy                                       2000           4.500000
                                                                               2001           4.500000
                                                                               2002           4.000000
                                                                               2003           5.000000
                                                                               2005           3.500000
                                                                               2006           4.000000
                                                                               2007           4.500000
                                                                               2008           3.900000
                                                                               2009           4.000000
                                                                               2010           4.000000
                                                                               2011           5.000000
                                                                               2012           4.500000
                                                                               2013           4.000000
                                                                               2014           5.000000
                                                                               2015           3.000000
                                                                               2016           4.000000
                                                                               2017           3.166667
                                                                               2018           3.333333
Action|Adventure|Animation|Drama|Fantasy|Sci-Fi                                2018           3.500000
Action|Adventure|Animation|Fantasy                                             2003           1.500000
                                                                               2005           3.666667
                                                                               2006           4.333333

In [109]:
year_to_rating_cor['Action|Adventure']

year_rating
1996    3.454545
1997    4.150000
1998    4.200000
1999    4.000000
2000    3.738462
2001    3.500000
2002    4.304348
2003    3.277778
2004    4.136364
2005    3.413043
2006    4.090909
2007    3.666667
2008    3.656250
2009    3.714286
2010    3.437500
2011    3.888889
2012    3.900000
2013    3.833333
2014    3.875000
2015    3.560976
2016    3.722222
2017    3.527778
2018    3.397436
Name: rating, dtype: float64

In [110]:
year_to_rating_cor['Action|Adventure|Animation|Children|Comedy|IMAX']

year_rating
2009    3.250000
2010    3.500000
2012    3.550000
2013    5.000000
2014    3.500000
2015    3.375000
2016    3.666667
2017    1.000000
2018    3.700000
Name: rating, dtype: float64

In [118]:
orders_df = pd.read_csv('https://raw.githubusercontent.com/modernpacifist/engineering-of-machine-learning-urfu/master/python-pro-level/Datasets/orders.csv', sep=';')

In [119]:
products_df = pd.read_csv('https://raw.githubusercontent.com/modernpacifist/engineering-of-machine-learning-urfu/master/python-pro-level/Datasets/products.csv', sep=';')

In [133]:
orders_df

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,Product_ID,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1

In [137]:
orders_df.rename(columns={'ID товара': 'Product_ID'}, inplace=True)
orders_df

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,Product_ID,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1

In [134]:
products_df

    Product_ID                                   Name  Price CURRENCY
0           47                   Шатны Полосатый рейс   2999      RUR
1           51               Платье Аленький цветочек   4999      RUR
2           53                 Штаны Цветочная Поляна   4999      RUR
3           71                    Платье Ночная Жизнь   7999      RUR
4           74               Платье Ночная Жизнь XXXL   8999      RUR
5           86                     Носки Простые, муж     45      RUR
6           91                     Носки Честные, муж     50      RUR
7          103                  Носки Подарочные, муж    199      RUR
8          104                  Носки Подарочные, жен    249      RUR
9          124                   Носки беговые Camino    999      RUR
10         137              Гольфы детские Снегурочка     99      RUR
11         138               Гольфы детские Питер Пен     99      RUR
12         139                       Сумка для носков    500      RUR
13         140  Товар, которому не придумано название      1      RUR

In [136]:
orders_products = pd.merge(orders_df, products_df, on='Product_ID', how='left')
orders_products

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,Product_ID,Количество,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN

In [138]:
orders_products.groupby('ID Покупателя')['Price'].sum()

ID Покупателя
1       448.0
5     14042.0
7     17096.0
8       697.0
9       344.0
10      199.0
Name: Price, dtype: float64